   <div ng-controller="deviceListController">
    <div ng-hide="devices.length"> You have no devices setup. 
      <a href="#/admin/add">Would you like to add a device</a>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Asset Tag</th>
          <th>Owner</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in devices">
          <td>{{item.name}}</td>
          <td>{{item.assetTag}}</td>
          <td>{{item.owner}}</td>
          <td>{{item.desc}}</td>  
          <td><button ng-click="remove($index)"><i class="icon-trash"></i></button></td>
          <td><a href="#/view/{{item.id}}"><i class="icon-edit"></i></a></td>
        </tr>
      </tbody>
    </table>
  </div>
