<div>
  <form novalidate name="addDevice" class="form-horizontal">
  	<div class="control-group">
  		<label class="control-label">Name</label>
  		<div class="controls">
  			<input type="text" id="name" ng-model="device.name" required placeholder="Enter Name">
  		</div>
  	</div>
  	<div class="control-group">
  		<label class="control-label">Asset Tag</label>
  		<div class="controls">
  			<input type="text" id="assetTag" ng-model="device.assetTag" required placeholder="Enter asset tag">
  		</div>
  	</div>
  	<div class="control-group">
  		<label class="control-label">Owner</label>
  		<div class="controls">
  			<input type="text" id="owner" ng-model="device.owner" required placeholder="Enter device owner">
  		</div>
  	</div> 	
  	<div class="control-group">
  		<label class="control-label">Description</label>
  		<div class="controls">
  			<input type="text" id="desc" ng-model="device.desc" placeholder="Enter description">
  		</div>
  	</div>
  	<div class="control-group">
  		<div class="controls">
  			<button id="addDevice" ng-click="add(device)" ng-show="add" class="btn">Add</button>
        <button id="updateDevice" ng-click="update(device)" ng-hide="add" class="btn">Edit</button>
  		</div>
  	</div>
  </form>
</div>